body {
  background: url('mario_wallpaper.png') no-repeat center center fixed;
  background-color: black;
  color: cornsilk;
  font-family: sans-serif;
}

.app {
  display: flex;
}

.title {
  text-align: center;
}
